.z500px-bg {
    background-color: #0099e5 !important;
  }
  .z500px-bg:hover,
  .z500px-bg:focus {
    background-color: #0088cc !important;
  }
  
  .about-me-bg {
    background-color: #00405d !important;
  }
  .about-me-bg:hover,
  .about-me-bg:focus {
    background-color: #002e44 !important;
  }
  
  .airbnb-bg {
    background-color: #fd5c63 !important;
  }
  .airbnb-bg:hover,
  .airbnb-bg:focus {
    background-color: #fd434b !important;
  }
  
  .alphabet-bg {
    background-color: #ed1c24 !important;
  }
  .alphabet-bg:hover,
  .alphabet-bg:focus {
    background-color: #de1219 !important;
  }
  
  .amazon-bg {
    background-color: #ff9900 !important;
  }
  .amazon-bg:hover,
  .amazon-bg:focus {
    background-color: #e68a00 !important;
  }
  
  .american-express-bg {
    background-color: #002663 !important;
  }
  .american-express-bg:hover,
  .american-express-bg:focus {
    background-color: #001c4a !important;
  }
  
  .aol-bg {
    background-color: #ff0b00 !important;
  }
  .aol-bg:hover,
  .aol-bg:focus {
    background-color: #e60a00 !important;
  }
  
  .behance-bg {
    background-color: #1769ff !important;
  }
  .behance-bg:hover,
  .behance-bg:focus {
    background-color: #0059fd !important;
  }
  
  .bing-bg {
    background-color: #ffb900 !important;
  }
  .bing-bg:hover,
  .bing-bg:focus {
    background-color: #e6a700 !important;
  }
  
  .bitbucket-bg {
    background-color: #205081 !important;
  }
  .bitbucket-bg:hover,
  .bitbucket-bg:focus {
    background-color: #1b436d !important;
  }
  
  .bitly-bg {
    background-color: #ee6123 !important;
  }
  .bitly-bg:hover,
  .bitly-bg:focus {
    background-color: #e65312 !important;
  }
  
  .blogger-bg {
    background-color: #f57d00 !important;
  }
  .blogger-bg:hover,
  .blogger-bg:focus {
    background-color: #dc7000 !important;
  }
  
  .booking-com-bg {
    background-color: #003580 !important;
  }
  .booking-com-bg:hover,
  .booking-com-bg:focus {
    background-color: #002a67 !important;
  }
  
  .buffer-bg {
    background-color: #168eea !important;
  }
  .buffer-bg:hover,
  .buffer-bg:focus {
    background-color: #1380d3 !important;
  }
  
  .code-school-bg {
    background-color: #616f67 !important;
  }
  .code-school-bg:hover,
  .code-school-bg:focus {
    background-color: #55615a !important;
  }
  
  .codecademy-bg {
    background-color: #f65a5b !important;
  }
  .codecademy-bg:hover,
  .codecademy-bg:focus {
    background-color: #f54243 !important;
  }
  
  .creative-market-bg {
    background-color: #8ba753 !important;
  }
  .creative-market-bg:hover,
  .creative-market-bg:focus {
    background-color: #7d964b !important;
  }
  
  .delicious-bg {
    background-color: #3399ff !important;
  }
  .delicious-bg:hover,
  .delicious-bg:focus {
    background-color: #1a8cff !important;
  }
  
  .deviantart-bg {
    background-color: #05cc47 !important;
  }
  .deviantart-bg:hover,
  .deviantart-bg:focus {
    background-color: #04b33e !important;
  }
  
  .digg-bg {
    background-color: #005be2 !important;
  }
  .digg-bg:hover,
  .digg-bg:focus {
    background-color: #0051c9 !important;
  }
  
  .disqus-bg {
    background-color: #2e9fff !important;
  }
  .disqus-bg:hover,
  .disqus-bg:focus {
    background-color: #1593ff !important;
  }
  
  .django-bg {
    background-color: #092e20 !important;
  }
  .django-bg:hover,
  .django-bg:focus {
    background-color: #051911 !important;
  }
  
  .dribbble-bg {
    background-color: #ea4c89 !important;
  }
  .dribbble-bg:hover,
  .dribbble-bg:focus {
    background-color: #e7357a !important;
  }
  
  .elance-bg {
    background-color: #0d69af !important;
  }
  .elance-bg:hover,
  .elance-bg:focus {
    background-color: #0b5b97 !important;
  }
  
  .envato-bg {
    background-color: #82b541 !important;
  }
  .envato-bg:hover,
  .envato-bg:focus {
    background-color: #75a23a !important;
  }
  
  .etsy-bg {
    background-color: #d5641c !important;
  }
  .etsy-bg:hover,
  .etsy-bg:focus {
    background-color: #be5919 !important;
  }
  
  .facebook-bg {
    background-color: #3b5998 !important;
  }
  .facebook-bg:hover,
  .facebook-bg:focus {
    background-color: #344e86 !important;
  }
  
  .feedly-bg {
    background-color: #2bb24c !important;
  }
  .feedly-bg:hover,
  .feedly-bg:focus {
    background-color: #269d43 !important;
  }
  
  .flattr-bg {
    background-color: #f67c1a !important;
  }
  .flattr-bg:hover,
  .flattr-bg:focus {
    background-color: #ed6f09 !important;
  }
  
  .flickr-bg {
    background-color: #0063dc !important;
  }
  .flickr-bg:hover,
  .flickr-bg:focus {
    background-color: #0058c3 !important;
  }
  
  .flipboard-bg {
    background-color: #e12828 !important;
  }
  .flipboard-bg:hover,
  .flipboard-bg:focus {
    background-color: #d21d1d !important;
  }
  
  .flixster-bg {
    background-color: #2971b2 !important;
  }
  .flixster-bg:hover,
  .flixster-bg:focus {
    background-color: #24649d !important;
  }
  
  .foursquare-bg {
    background-color: #0732a2 !important;
  }
  .foursquare-bg:hover,
  .foursquare-bg:focus {
    background-color: #062a8a !important;
  }
  
  .github-bg {
    background-color: #4183c4 !important;
  }
  .github-bg:hover,
  .github-bg:focus {
    background-color: #3876b4 !important;
  }
  
  .google-bg {
    background-color: #4285f4 !important;
  }
  .google-bg:hover,
  .google-bg:focus {
    background-color: #2a75f3 !important;
  }
  
  .google-plus-bg {
    background-color: #dc4e41 !important;
  }
  .google-plus-bg:hover,
  .google-plus-bg:focus {
    background-color: #d83a2b !important;
  }
  
  .instagram-bg {
    background-color: #3f729b !important;
  }
  .instagram-bg:hover,
  .instagram-bg:focus {
    background-color: #386589 !important;
  }
  
  .kickstarter-bg {
    background-color: #2bde73 !important;
  }
  .kickstarter-bg:hover,
  .kickstarter-bg:focus {
    background-color: #20cf67 !important;
  }
  
  .kik-bg {
    background-color: #82bc23 !important;
  }
  .kik-bg:hover,
  .kik-bg:focus {
    background-color: #73a71f !important;
  }
  
  .lastfm-bg {
    background-color: #d51007 !important;
  }
  .lastfm-bg:hover,
  .lastfm-bg:focus {
    background-color: #bc0e06 !important;
  }
  
  .line-bg {
    background-color: #00c300 !important;
  }
  .line-bg:hover,
  .line-bg:focus {
    background-color: #00aa00 !important;
  }
  
  .linkedin-bg {
    background-color: #0077b5 !important;
  }
  .linkedin-bg:hover,
  .linkedin-bg:focus {
    background-color: #00669c !important;
  }
  
  .mail-ru-bg {
    background-color: #168de2 !important;
  }
  .mail-ru-bg:hover,
  .mail-ru-bg:focus {
    background-color: #147fcb !important;
  }
  
  .mailchimp-bg {
    background-color: #2c9ab7 !important;
  }
  .mailchimp-bg:hover,
  .mailchimp-bg:focus {
    background-color: #2789a2 !important;
  }
  
  .myspace-bg {
    background-color: #000000 !important;
  }
  .myspace-bg:hover,
  .myspace-bg:focus {
    background-color: black !important;
  }
  
  .netflix-bg {
    background-color: #e50914 !important;
  }
  .netflix-bg:hover,
  .netflix-bg:focus {
    background-color: #cc0812 !important;
  }
  
  .ning-bg {
    background-color: #75af42 !important;
  }
  .ning-bg:hover,
  .ning-bg:focus {
    background-color: #699c3b !important;
  }
  
  .path-bg {
    background-color: #ee3423 !important;
  }
  .path-bg:hover,
  .path-bg:focus {
    background-color: #e62412 !important;
  }
  
  .patreon-bg {
    background-color: #e6461a !important;
  }
  .patreon-bg:hover,
  .patreon-bg:focus {
    background-color: #d03f17 !important;
  }
  
  .paypal-bg {
    background-color: #003087 !important;
  }
  .paypal-bg:hover,
  .paypal-bg:focus {
    background-color: #00276e !important;
  }
  
  .photobucket-bg {
    background-color: #0ea0db !important;
  }
  .photobucket-bg:hover,
  .photobucket-bg:focus {
    background-color: #0c8ec3 !important;
  }
  
  .pinterest-bg {
    background-color: #bd081c !important;
  }
  .pinterest-bg:hover,
  .pinterest-bg:focus {
    background-color: #a50718 !important;
  }
  
  .product-hunt-bg {
    background-color: #da552f !important;
  }
  .product-hunt-bg:hover,
  .product-hunt-bg:focus {
    background-color: #cb4924 !important;
  }
  
  .quora-bg {
    background-color: #a82400 !important;
  }
  .quora-bg:hover,
  .quora-bg:focus {
    background-color: #8f1f00 !important;
  }
  
  .rdio-bg {
    background-color: #007dc3 !important;
  }
  .rdio-bg:hover,
  .rdio-bg:focus {
    background-color: #006daa !important;
  }
  
  .reddit-bg {
    background-color: #ff4500 !important;
  }
  .reddit-bg:hover,
  .reddit-bg:focus {
    background-color: #e63e00 !important;
  }
  
  .rss-bg {
    background-color: #f26522 !important;
  }
  .rss-bg:hover,
  .rss-bg:focus {
    background-color: #ed560e !important;
  }
  
  .salesforce-bg {
    background-color: #1798c1 !important;
  }
  .salesforce-bg:hover,
  .salesforce-bg:focus {
    background-color: #1486aa !important;
  }
  
  .scribd-bg {
    background-color: #1a7bba !important;
  }
  .scribd-bg:hover,
  .scribd-bg:focus {
    background-color: #176ca4 !important;
  }
  
  .shopify-bg {
    background-color: #96bf48 !important;
  }
  .shopify-bg:hover,
  .shopify-bg:focus {
    background-color: #89b03e !important;
  }
  
  .skype-bg {
    background-color: #00aff0 !important;
  }
  .skype-bg:hover,
  .skype-bg:focus {
    background-color: #009cd7 !important;
  }
  
  .slack-bg {
    background-color: #6ecadc !important;
  }
  .slack-bg:hover,
  .slack-bg:focus {
    background-color: #59c2d7 !important;
  }
  
  .slideshare-bg {
    background-color: #0077b5 !important;
  }
  .slideshare-bg:hover,
  .slideshare-bg:focus {
    background-color: #00669c !important;
  }
  
  .soundcloud-bg {
    background-color: #ff8800 !important;
  }
  .soundcloud-bg:hover,
  .soundcloud-bg:focus {
    background-color: #e67a00 !important;
  }
  
  .spotify-bg {
    background-color: #2ebd59 !important;
  }
  .spotify-bg:hover,
  .spotify-bg:focus {
    background-color: #29a84f !important;
  }
  
  .squarespace-bg {
    background-color: #222222 !important;
  }
  .squarespace-bg:hover,
  .squarespace-bg:focus {
    background-color: #151515 !important;
  }
  
  .stackoverflow-bg {
    background-color: #fe7a15 !important;
  }
  .stackoverflow-bg:hover,
  .stackoverflow-bg:focus {
    background-color: #f86c01 !important;
  }
  
  .stripe-bg {
    background-color: #00afe1 !important;
  }
  .stripe-bg:hover,
  .stripe-bg:focus {
    background-color: #009bc8 !important;
  }
  
  .stumbleupon-bg {
    background-color: #eb4924 !important;
  }
  .stumbleupon-bg:hover,
  .stumbleupon-bg:focus {
    background-color: #e13b15 !important;
  }
  
  .telegram-bg {
    background-color: #0088cc !important;
  }
  .telegram-bg:hover,
  .telegram-bg:focus {
    background-color: #0077b3 !important;
  }
  
  .tumblr-bg {
    background-color: #35465c !important;
  }
  .tumblr-bg:hover,
  .tumblr-bg:focus {
    background-color: #2c3a4c !important;
  }
  
  .twitch-tv-bg {
    background-color: #6441a5 !important;
  }
  .twitch-tv-bg:hover,
  .twitch-tv-bg:focus {
    background-color: #593a93 !important;
  }
  
  .twitter-bg {
    background-color: #55acee !important;
  }
  .twitter-bg:hover,
  .twitter-bg:focus {
    background-color: #3ea1ec !important;
  }
  
  .vimeo-bg {
    background-color: #162221 !important;
  }
  .vimeo-bg:hover,
  .vimeo-bg:focus {
    background-color: #0c1312 !important;
  }
  
  .vine-bg {
    background-color: #00b488 !important;
  }
  .vine-bg:hover,
  .vine-bg:focus {
    background-color: #009b75 !important;
  }
  
  .wechat-bg {
    background-color: #7bb32e !important;
  }
  .wechat-bg:hover,
  .wechat-bg:focus {
    background-color: #6d9f29 !important;
  }
  
  .whatsapp-bg {
    background-color: #43d854 !important;
  }
  .whatsapp-bg:hover,
  .whatsapp-bg:focus {
    background-color: #2ed441 !important;
  }
  
  .yahoo-bg {
    background-color: #410093 !important;
  }
  .yahoo-bg:hover,
  .yahoo-bg:focus {
    background-color: #36007a !important;
  }
  
  .youtube-bg {
    background-color: #cd201f !important;
  }
  .youtube-bg:hover,
  .youtube-bg:focus {
    background-color: #b71d1c !important;
  }
  
  .profile-right .heading {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .awards {
    margin-bottom: 50px;
  }
  .awards div[class^="col-"] {
    text-align: center;
  }
  
  .award-item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    margin-bottom: 30px;
  }
  .award-item .hexagon {
    margin: 35px 0;
  }
  
  .hexagon {
    width: 100px;
    height: 55px;
    background: #ececec;
    position: relative;
  }
  .hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #ececec;
  }
  .hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #ececec;
  }
  
  .award-icon {
    font-size: 36px;
    line-height: 1.5em;
  }
  
  ul.activity-timeline > li {
    margin-bottom: 45px;
    position: relative;
    z-index: 0;
  }
  ul.activity-timeline > li .activity-icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    float: left;
    width: 34px;
    height: 34px;
    background-color: #00aaff;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
  }
  ul.activity-timeline > li > p {
    margin-bottom: 0;
    padding-left: 40px;
  }
  ul.activity-timeline > li .timestamp {
    display: block;
    font-size: 0.85em;
    color: #a3a3a3;
  }
  ul.activity-timeline > li:after {
    content: "";
    display: block;
    border-left: 1px solid #eaeaea;
    width: 1px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 16px;
    z-index: -1;
  }
  ul.activity-timeline > li:last-child:after {
    display: none;
  }
  
  .project-table .progress {
    margin-bottom: 0;
  }
  
  .project-table .progress-bar {
    font-size: 10px;
  }
  
  .project-table > tbody > tr > td {
    padding: 12px 8px;
  }
  .project-table > tbody > tr > td .avatar {
    width: 22px;
    border: 1px solid #ccc;
  }
  
  /*# sourceMappingURL=main.css.map */