
/********************
 * LAYOUT
 ********************/
 #wrapper .sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 260px;
    height: 100%;
    float: left;
    background-color: #2B333E;
    position: fixed;
    left: 0; }
  
  #wrapper .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 260px);
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa; }
  
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 80px; }
  
  @media screen and (max-width: 767px) {
    #wrapper #sidebar-nav,
    #wrapper .main {
      padding-top: 130px; } }
  
  .layout-fullwidth #wrapper .sidebar {
    left: -260px; }
  
  .layout-fullwidth #wrapper .main {
    width: 100%; }
  
  .layout-fullwidth #wrapper .navbar {
    left: 0 !important; }
  
  .layout-fullwidth #wrapper .btn-toggle-fullwidth {
    color: #00AAFF; }
  
  .offcanvas-active #wrapper .sidebar {
    left: 0; }
  
  .offcanvas-active #wrapper .main {
    width: 100%;
    position: relative;
    left: 260px; }
  
  @media screen and (max-width: 1024px) {
    #wrapper .sidebar {
      left: -260px; }
    #wrapper .main {
      width: 100%; }
    #wrapper .navbar {
      left: 0 !important; }
    #wrapper .btn-toggle-fullwidth {
      color: #00AAFF; }
    .btn-toggle-minified {
      display: none; } }
  
  .main-content {
    padding: 28px 10px; }
  
  .navbar + .main-content {
    padding: 105px 0 28px 5px; }
    @media screen and (max-width: 767px) {
      .navbar + .main-content {
        padding-top: 155px; } }
  
  html.fullscreen-bg,
  html.fullscreen-bg body,
  html.fullscreen-bg #wrapper {
    height: 100%; }
  
  .vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table; }
  
  .vertical-align-middle {
    display: table-cell;
    vertical-align: middle; }
  