
  /********************
   * HELPERS
   ********************/
.bg-success {
  background-color: #41b314;
}

.bg-warning {
  background-color: #e4cb10;
}

.bg-danger {
  background-color: #f9354c;
}

.no-padding {
  padding: 0 !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}
