html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f3f5f8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #676a6d;
}

a {
  color: #3287b2;
}
a:hover,
a:focus {
  color: #3b98c8;
  text-decoration: none;
}

th {
  font-weight: 600;
}

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

.copyright {
  margin-bottom: 0;
  text-align: right;
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  .copyright {
    text-align: center;
    position: relative !important;
  }
}
