
  /********************
   * PAGE: PROFILE
   ********************/
.panel-profile {
    position: relative;
  }
  
  .profile-left {
    padding-left: 0;
    float: left;
    width: 35%;
    height: 100%;
    position: absolute;
    background-color: #f8f8f8;
  }
  
  .profile-right {
    float: right;
    width: 65%;
    padding: 20px 25px;
  }
  .profile-right .heading {
    margin-top: 0;
  }
  
  @media screen and (max-width: 992px) {
    .profile-left,
    .profile-right {
      float: none;
      width: 100%;
    }
    .profile-left {
      position: relative;
      margin-bottom: 30px;
    }
  }
  
  .profile-header {
    position: relative;
    text-align: center;
    color: #fff;
  }
  .profile-header .overlay {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .profile-header .profile-main {
    position: relative;
    padding: 20px;
    //background-image: url("../img/profile-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile-header .name {
    margin: 8px 0 0 0;
    font-size: 22px;
  }
  .profile-header .online-status {
    font-size: 13px;
    position: relative;
    top: -2px;
  }
  .profile-header .online-status:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 3px;
  }
  .profile-header .online-status.status-available:before {
    background-color: #41b314;
  }
  .profile-header .profile-stat {
    position: relative;
    background-color: #00aaff;
  }
  .profile-header .profile-stat .stat-item {
    padding: 20px;
    position: relative;
  }
  .profile-header .profile-stat .stat-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #33bbff;
  }
  .profile-header .profile-stat .stat-item:last-child:after {
    display: none;
  }
  .profile-header .profile-stat .stat-item span {
    display: block;
  }
  @media screen and (max-width: 1023px) {
    .profile-header .profile-stat .stat-item:after {
      display: none;
    }
  }
  
  .profile-detail {
    padding-bottom: 30px;
  }
  
  .profile-info {
    padding: 0 20px;
    margin: 40px 0;
  }
  .profile-info .heading {
    margin: 0 0 10px 0;
    font-weight: 600;
  }
  .profile-info ul > li {
    margin-bottom: 8px;
  }
  
  .social-icons {
    margin-bottom: 0;
  }
  .social-icons > li {
    padding: 0 2px 5px 2px;
  }
  .social-icons > li > a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    background-color: #4d4d4d;
    color: #fff;
  }
  .social-icons > li > a i {
    font-size: 18px;
  }
  .social-icons > li > a:hover,
  .social-icons > li > a:focus {
    background-color: #404040;
  }
  

  /********************
 * BUTTONS
 ********************/
.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 6px 22px; }
  
  .btn-group-lg > .btn,
  .btn-lg {
    padding: 10px 28px; }
  
  .btn-group-sm > .btn,
  .btn-sm {
    padding: 5px 18px; }
  
  .btn-group-xs > .btn,
  .btn-xs {
    padding: 5px 14px; }
  
  .btn-primary {
    background-color: #00AAFF;
    border-color: #00a0f0; }
    .btn-primary:hover, .btn-primary:focus {
      background-color: #00a0f0;
      border-color: #00a0f0; }
  
  .btn-warning {
    background-color: #e4cb10;
    border-color: #d6be0f; }
    .btn-warning:hover, .btn-warning:focus {
      background-color: #d6be0f;
      border-color: #d6be0f; }
  
  .btn-default:hover, .btn-default:focus {
    background-color: #f7f7f7; }
  
  .btn-success {
    background-color: #41B314;
    border-color: #3ca512; }
    .btn-success:hover, .btn-success:focus {
      background-color: #3ca512;
      border-color: #3ca512; }
  
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    opacity: 0.4;
    filter: alpha(opacity=40); }
  