/********************
 * TYPOGRAPHY
 ********************/
.text-success {
  color: #41b314;
}

.text-warning {
  color: #e4cb10;
}

.text-danger {
  color: #f9354c;
}

ul.list-justify > li {
  margin-bottom: 5px;
}
ul.list-justify > li span {
  float: right;
}
