<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>

            <ul class="nav" (click)="onFocus($event)">
                <li><a routerLink="/dashboard" routerLinkActive="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>

                <li><a routerLink="/elements" routerLinkActive="active"><i class="lnr lnr-code"></i> <span>Elements</span></a></li>

                <li><a routerLink="/charts" routerLinkActive="active"><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>

                <li><a routerLink="/panels" routerLinkActive="active"><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>

                <li><a routerLink="/notifications" routerLinkActive="active"><i class="lnr lnr-alarm"></i> <span>Notifications</span></a>
                </li>


                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i>
                        <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a routerLink="/page-profile" routerLinkActive="active">Profile</a></li>
                            <li><a routerLink="/page-login" routerLinkActive="active">Login</a></li>
                            <li><a routerLink="/page-lockscreen" routerLinkActive="active">Lockscreen</a></li>
                        </ul>
                    </div>
                </li>

                <li><a routerLink="/tables" routerLinkActive="active"><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>

                <li><a routerLink="/typography" routerLinkActive="active"><i class="lnr lnr-text-format"></i> <span>Typography</span></a>
                </li>

                <li><a routerLink="/icons" routerLinkActive="active"><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>


            </ul>
        </nav>
    </div>
</div>