
  /********************
   * PANELS
   ********************/
.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin-bottom: 30px;
}
.panel .panel-heading,
.panel .panel-body,
.panel .panel-footer {
  padding-left: 25px;
  padding-right: 25px;
}
.panel .panel-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.panel .panel-heading .panel-title {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
.panel .panel-heading button {
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
}
.panel .panel-heading button i {
  font-size: 14px;
}
.panel .panel-body {
  padding-top: 10px;
  padding-bottom: 15px;
}
.panel .panel-note {
  font-size: 13px;
  line-height: 2.6;
  color: #777777;
}
.panel .panel-note i {
  font-size: 16px;
  margin-right: 3px;
}
.panel .right {
  position: absolute;
  right: 20px;
  top: 32%;
}
.panel.panel-headline .panel-heading {
  border-bottom: none;
}
.panel.panel-headline .panel-heading .panel-title {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: normal;
}
.panel.panel-headline .panel-heading .panel-subtitle {
  margin-bottom: 0;
  font-size: 14px;
  color: #8d99a8;
}
.panel.panel-scrolling .btn-bottom {
  margin-bottom: 30px;
}
.panel .table > thead > tr > td:first-child,
.panel .table > thead > tr > th:first-child,
.panel .table > tbody > tr > td:first-child,
.panel .table > tbody > tr > th:first-child,
.panel .table > tfoot > tr > td:first-child,
.panel .table > tfoot > tr > th:first-child {
  padding-left: 25px;
}
.panel .table > thead > tr > td:last-child,
.panel .table > thead > tr > th:last-child,
.panel .table > tbody > tr > td:last-child,
.panel .table > tbody > tr > th:last-child,
.panel .table > tfoot > tr > td:last-child,
.panel .table > tfoot > tr > th:last-child {
  padding-left: 25px;
}

.panel-footer {
  background-color: #fafafa;
}
