/********************
 * LAYOUT
 ********************/
 .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 260px);
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa;
  }
  
  .main {
    padding-top: 80px;
  }
  
  @media screen and (max-width: 767px) {
    .main {
      padding-top: 130px;
    }
  }
  
  .layout-fullwidth .main {
    width: 100%;
  }
  
  .offcanvas-active .main {
    width: 100%;
    position: relative;
    left: 260px;
  }
  
  @media screen and (max-width: 1024px) {
    #wrapper .main {
      width: 100%;
    }
  }
  
  .main-content {
    padding: 28px 10px;
  }
  
  .navbar + .main-content {
    padding: 105px 0 28px 5px;
  }
  @media screen and (max-width: 767px) {
    .navbar + .main-content {
      padding-top: 155px;
    }
  }
  
  html.fullscreen-bg,
  html.fullscreen-bg body,
  html.fullscreen-bg #wrapper {
    height: 100%;
  }
  
  .vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
  }

  /********************
   * INPUTS
   ********************/
.form-control {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: #eaeaea;
  background-color: #fcfcfc;
}
.form-control:focus {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-color: #d6d6d6;
  background-color: #fff;
}

.input-group {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-addon {
  border: 1px solid #eaeaea;
}

/* fancy checkbox and radio button */
.fancy-checkbox {
  display: block;
  font-weight: normal;
}
.fancy-checkbox input[type="checkbox"] {
  display: none;
}
.fancy-checkbox input[type="checkbox"] + span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}
.fancy-checkbox input[type="checkbox"] + span:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  bottom: 1px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  content: "";
  border: 1px solid #ccc;
}
.fancy-checkbox input[type="checkbox"]:checked + span:before {
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 12px;
  color: #99a1a7;
  text-align: center;
  line-height: 16px;
  background: #ededed;
  border: 1px solid #ccc;
}
.fancy-checkbox.custom-color-green
  input[type="checkbox"]:checked
  + span:before {
  color: #53d76a;
  background-color: #fff;
}
.fancy-checkbox.custom-bgcolor-green
  input[type="checkbox"]:checked
  + span:before {
  color: #fff;
  background-color: #53d76a;
  border-color: #32cf4d;
}

.fancy-radio {
  display: block;
  font-weight: normal;
}
.fancy-radio input[type="radio"] {
  display: none;
}
.fancy-radio input[type="radio"] + span {
  display: block;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}
.fancy-radio input[type="radio"] + span i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  bottom: 1px;
  content: "";
  border: 1px solid #ccc;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.fancy-radio input[type="radio"]:checked + span i:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #99a1a7;
}
.fancy-radio.custom-color-green input[type="radio"]:checked + span i:after {
  background-color: #53d76a;
}
.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i {
  background-color: #53d76a;
}
.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i:after {
  background-color: #fff;
}

/********************
   * BUTTONS
   ********************/
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 22px;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 28px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 18px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 14px;
}

.btn-primary {
  background-color: #00aaff;
  border-color: #00a0f0;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #00a0f0;
  border-color: #00a0f0;
}

.btn-warning {
  background-color: #e4cb10;
  border-color: #d6be0f;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #d6be0f;
  border-color: #d6be0f;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #f7f7f7;
}

.btn-success {
  background-color: #41b314;
  border-color: #3ca512;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #3ca512;
  border-color: #3ca512;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/********************
   * ELEMENTS
   ********************/
   .collapsing {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .label {
    font-weight: normal;
  }
  
  .metric {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #dce6eb;
  }
  .metric .icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #0081c2;
    text-align: center;
  }
  .metric .icon i {
    font-size: 18px;
    color: #fff;
  }
  .metric p {
    margin-bottom: 0;
    line-height: 1.2;
    text-align: right;
  }
  .metric .number {
    display: block;
    font-size: 28px;
    font-weight: 300;
  }
  .metric .title {
    font-size: 16px;
  }
  
  ul.activity-list > li {
    padding: 25px 0;
  }
  ul.activity-list > li:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
  ul.activity-list > li .avatar {
    width: 40px;
  }
  ul.activity-list > li > p {
    margin-bottom: 0;
    padding-left: 3.5em;
  }
  ul.activity-list > li .timestamp {
    display: block;
    font-size: 13px;
    color: #a3a3a3;
  }
  
  /* task list */
  .task-list > li {
    margin-bottom: 32px;
  }
  
  .task-list p {
    position: relative;
  }
  .task-list p .label-percent {
    position: absolute;
    right: 0;
  }
  
  /* bootstrap progress bar */
  .progress {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f1f1f1;
  }
  .progress.wide {
    width: 60px;
  }
  .progress .progress-bar {
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    -ms-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .progress.progress-sm {
    height: 12px;
  }
  .progress.progress-xs {
    height: 5px;
  }
  .progress.progress-sm .progress-bar,
  .progress.progress-xs .progress-bar {
    text-indent: -9999px;
  }
  
  .progress-bar-success {
    background-color: #41b314;
  }
  
  .progress-bar-warning {
    background-color: #e4cb10;
  }
  
  .progress-bar-danger {
    background-color: #f9354c;
  }
  
  .weekly-summary {
    margin-bottom: 30px;
    font-weight: 300;
  }
  .weekly-summary .number {
    font-size: 36px;
  }
  .weekly-summary i {
    font-size: 16px;
    margin-left: 10px;
  }
  .weekly-summary .percentage {
    position: relative;
    top: -7px;
  }
  .weekly-summary .info-label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .todo-list > li {
    border-top: 1px solid #f0f0f0;
    position: relative;
  }
  .todo-list > li:first-child {
    border-top: none;
  }
  .todo-list > li .fancy-checkbox {
    position: absolute;
    top: 50%;
    margin-top: -11px;
  }
  .todo-list > li .fancy-checkbox input[type="checkbox"] + span {
    margin-right: 0;
  }
  .todo-list > li p {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 90%;
    margin: 0;
    padding: 20px 0 20px 35px;
  }
  .todo-list > li.completed p,
  .todo-list > li.completed .date {
    text-decoration: line-through;
    color: #b4b7b9;
  }
  
  .todo-list .title {
    font-size: 16px;
    font-weight: 600;
  }
  
  .todo-list .short-description {
    display: block;
    margin-top: 5px;
  }
  
  .todo-list .date {
    font-size: 13px;
    color: #a3a3a3;
  }
  
  .todo-list .controls {
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -11px;
  }
  .todo-list .controls a {
    margin-left: 5px;
  }
  
  /* toastr notification */
  #toast-container > div {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  #toast-container > div,
  #toast-container > div:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  #toast-container .toast-close-button {
    top: -0.9em;
  }
  
  .toast a {
    text-decoration: underline;
  }
  .toast a:hover,
  .toast a:focus {
    text-decoration: none;
    color: #fff;
  }
  
  .toast .toast-message {
    font-size: 14px;
    line-height: 2;
  }
  
  .toast-info {
    background-color: #00aaff;
  }
  
  .toast-success {
    background-color: #41b314;
  }
  
  .toast-warning {
    background-color: #e4cb10;
  }
  
  .toast-danger {
    background-color: #f9354c;
  }
  
  /* tabs */
  .custom-tabs-line ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  .custom-tabs-line ul > li {
    float: left;
  }
  .custom-tabs-line ul > li a {
    color: #8d9093;
    font-weight: normal;
  }
  .custom-tabs-line ul > li a:hover,
  .custom-tabs-line ul > li a:focus {
    color: #676a6d;
    background-color: transparent;
  }
  .custom-tabs-line ul > li a:focus {
    outline: none;
  }
  .custom-tabs-line ul.nav-pills a:hover,
  .custom-tabs-line ul.nav-pills a:focus {
    color: #fff;
    background-color: #00aaff;
  }
  
  .custom-tabs-line.tabs-line-bottom {
    border-bottom: 1px solid #eaeaea;
  }
  .custom-tabs-line.tabs-line-bottom ul > li {
    margin-bottom: -1px;
  }
  .custom-tabs-line.tabs-line-bottom a {
    border-bottom: 1px solid transparent;
  }
  .custom-tabs-line.tabs-line-bottom .active a {
    border-bottom: 2px solid #00aaff;
  }
  
  .custom-tabs-line.left-aligned {
    text-align: left;
  }
  
  .custom-tabs-line.right-aligned {
    text-align: right;
  }
  
  @media screen and (max-width: 768px) {
    .custom-tabs-line ul li.active > a {
      margin-bottom: -1px;
    }
  }
  
  .tab-pane {
    padding: 25px 15px;
  }
  

  