/********************
   * CHARTS
   ********************/
/* easy pie chart */
.easy-pie-chart {
  position: relative;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
}
.easy-pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.easy-pie-chart .percent {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 110px;
  z-index: 2;
}
.easy-pie-chart .percent:after {
  content: "%";
  margin-left: 0.1em;
  font-size: 0.8em;
}
.easy-pie-chart#system-load {
  width: 130px;
}
.easy-pie-chart#system-load .percent {
  line-height: 128px;
}